html {
    /* Load system fonts */
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
      Roboto, Helvetica Neue, sans-serif;
  
    /* Make type rendering look crisper */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Disable auto-enlargement of small text in Safari */
    text-size-adjust: 100%;
  
    /* Enable kerning and optional ligatures */
    text-rendering: optimizeLegibility;
}
textarea {
    font-family: inherit;
}
body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-image: url('images/star_background.jpg');
    background-size: cover;
    
}
#topBar {
    width:100%;
    left:0;
    right:0;
    background-color: #EBF5FA;
    border-radius: 10px;
    color: #084E8A;
    padding-top: 2.5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    position: fixed;
    z-index: 25;
}
#nominations {
    color: #594430;
    bottom: -50%;
    left: 20%;
    right: 20%;
    text-align: center;
    position: fixed;
    background-color: #FCEBDB;
    border: 2px solid #594430;
    border-radius: 1.5%;
    transition: 2s;
    vertical-align: bottom;
    z-index: 49;
}

table {
    border-spacing: 0;
    text-align: center;
    table-layout: fixed;
    width: 100% ;
    height: 20%;
}
tr, th, td {
    transition: 2.5s;
    padding: 0;
    text-align: center;
    width: 20% ;
    height: 100%;
}
#caption_1, #caption_2, #caption_3, #caption_4, #caption_5 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
tr img {
    transition: 2.5s;
    width: 75%;
}
p {
    transition: 2.5s;
    padding: 0;
    font-size: 1em;
    margin: 0;
}
.img_row {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#plot_box {
    display: none;
    position: fixed;
    color: #50495A;
    border: 2px solid #50495A;
    text-align: center;
    padding: 10px 10px;
    border-radius: 6px;
    left: -50%;
    top:0;
    height: 100%;
    width: 25%;
    z-index: 50;
    background-color: white;
}
button {
    display: none;
    padding: 5px;
    margin: 5px;
    border: 2px solid #3E4E57;
    background-color: #EBF5FA;
    border-radius: 5px;
    transition: 1s;
    color: #3E4E57;
    font-size: 13pt;
}
button:hover {
    background-color: #BBE5B3;
    transition: 0.25s;
}
input {
    border: 2px solid #3E4E57;
    background-color: #EBF5FA;
    border-radius: 5px;
    position: relative;
    margin-top: 10%;
    transition:1s;
    font-size: 13pt;
}
input:hover {
    background-color: #EBF5FA;
}
#i_button {
    position: absolute;
    left: 25px;
    top: 0;
    opacity: 50%;
    color: #084E8A;
    user-select: none;
    z-index: 49;
}
h1:hover, #close_button:hover {
    opacity: 1;
}
#info_box {
    display: none;
    width:40%;
    left:-50%;
    top: 15%;
    background-color: #BBE5B3;
    border: 2px solid #414F3E;
    border-radius: 10px;
    color: #414F3E;
    padding-top: 2.5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    position: absolute;
    z-index: 100;
}
#me {
    width: 30%;
    border-radius: 50%;
    border: 2px solid #414F3E;
}
a {
    color: inherit;
}
#close_button {
    right: 2.5%;
    opacity: 50%;
    margin: 0;
    position: absolute;
    user-select: none;
}
@media all and (max-width: 900px) {
    #nominations {
        left:0;
        right:0;
    }
    #whitespace {
        width: 40%;
    }
}
#behind_topBar {
    width:100%;
    left:0;
    right:0;
    border-radius: 10px;
    opacity: 0;
    padding-top: 2.5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}